---
import { getCollection, type CollectionEntry } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

export const getStaticPaths = async () => {
	const blogs = await getCollection('blogs')
	const paths = blogs.map((blog) => {
		return {
			params: { slug: blog.slug },
			props: { blog }
		}
	})
	return paths
}

type Props = {
	blog: CollectionEntry<'blogs'>
}

const { blog } = Astro.props
const { Content } = await blog.render()
---

<Layout title={blog.data.title}>
	<div class="flex flex-col">
		<h1 transition:name="post-name" class="mb-0 pb-2">
			{blog.data.title}
		</h1>
		<span class="pb-4">
			{blog.data.date}
		</span>
		<a class="link" href=`https://amanvarshney.hashnode.dev/${blog.slug}` target="_blank"
			>Read on Hashnode</a
		>
	</div>
	<article class="w-full">
		<Content />
	</article>
	<section class="pt-8">
		<script
			is:inline
			src="https://giscus.app/client.js"
			data-repo="AmanVarshney01/aman-varshney"
			data-repo-id="R_kgDOK2jPEQ"
			data-category="General"
			data-category-id="DIC_kwDOK2jPEc4CgTww"
			data-mapping="pathname"
			data-strict="0"
			data-reactions-enabled="1"
			data-emit-metadata="0"
			data-input-position="top"
			data-theme="preferred_color_scheme"
			data-lang="en"
			data-loading="lazy"
			crossorigin="anonymous"
			async></script>
	</section>
</Layout>
