---
import Layout from '@/layouts/Layout.astro'
import { getCollection, render } from 'astro:content'

export const getStaticPaths = async () => {
	const allBlogs = await getCollection('blog')
	return allBlogs.map((blog) => ({
		params: { slug: blog.id },
		props: { blog }
	}))
}

const { blog } = Astro.props
const { Content } = await render(blog)
---

<Layout title={blog.data.title}>
	<div class="flex flex-col">
		<h1 transition:name="blog-heading" class="mb-0 pb-2">
			{blog.data.title}
		</h1>
		<span class="pb-4">
			{blog.data.date}
		</span>
		<a class="link" href=`https://amanvarshney.hashnode.dev/${blog.id}` target="_blank"
			>Read on Hashnode</a
		>
	</div>
	<article>
		<Content />
	</article>
	<div class="pt-8">
		<script
			is:inline
			src="https://giscus.app/client.js"
			data-repo="AmanVarshney01/aman-varshney"
			data-repo-id="R_kgDOK2jPEQ"
			data-category="General"
			data-category-id="DIC_kwDOK2jPEc4CgTww"
			data-mapping="pathname"
			data-strict="0"
			data-reactions-enabled="1"
			data-emit-metadata="0"
			data-input-position="top"
			data-theme="preferred_color_scheme"
			data-lang="en"
			data-loading="lazy"
			crossorigin="anonymous"
			async></script>
	</div>
</Layout>
