---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
// import { getRelativeDate } from "../../components/getRelativeData";
export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const paths = posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
  return paths;
};

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div class="mb-8 flex flex-col gap-2">
    <span class="pb-2">
      {post.data.date}
    </span>
    <h1 class="my-2 font-bold text-pretty">
      {post.data.title}
    </h1>
    <span class="mt-10">
      <a
        class="underline"
        href=`https://amanvarshney.hashnode.dev/${post.slug}`
        target="_blank">Read on Hashnode</a
      >
    </span>
  </div>
  <article class="w-full">
    <Content />
  </article>
</Layout>
