---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostList from "../../components/PostList.astro";

---

<Layout title="Blog | Aman Varshney">
  <!-- <h1 class="text-3xl">Blogs</h1> -->
  <PostList />
</Layout>
