@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark .astro-code,
html.dark .astro-code span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

code {
	display: grid;
	padding-top: 2.5rem !important;
}
pre {
	@apply rounded-md border dark:border-slate-800;
}

.line {
	counter-increment: count;
}

pre::before {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 2px solid;
	@apply border-slate-100 dark:border-slate-800;
}

pre::before {
	content: attr(data-language);
	position: absolute;
	top: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
}

.line:not(:last-of-type)::before {
	content: counter(count);
	@apply pl-2 pr-4 opacity-40;
}

.diff.add {
	@apply bg-green-900/40;
}

.diff.remove {
	@apply bg-red-900/40 !important;
}

.highlighted {
	@apply bg-neutral-50/10;
}

.has-focused .line {
	@apply blur-sm transition duration-200;
}

.has-focused:hover .line {
	@apply blur-none;
}

.has-focused .focused {
	@apply blur-none;
}

.highlighted-word {
	@apply rounded-md border border-neutral-50/40 px-1;
}

::-webkit-scrollbar {
	@apply w-1;
}

::-webkit-scrollbar-track {
	@apply bg-white dark:bg-[#111318];
}

::-webkit-scrollbar-thumb {
	@apply rounded-md bg-sky-500;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-sky-600;
}

pre:has(code) {
	position: relative;
}

pre button.copy {
	position: absolute;
	right: 10px;
	top: 12px;
	height: 28px;
	padding: 0;
	display: flex;

	& span {
		width: 100%;
		aspect-ratio: 1 / 1;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	& .ready {
		background-image: url('../assets/icons/copy.svg');
		@apply size-4;
	}

	& .success {
		background-image: url('../assets/icons/copy-done.svg');
		@apply hidden size-4;
	}

	&.copied {
		& .success {
			display: block;
		}

		& .ready {
			display: none;
		}
	}
}
