@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

/* .dark .astro-code,
.dark .astro-code span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
} */

code {
	display: grid;
}
.line {
	counter-increment: count;
}

.line:not(:last-of-type)::before {
	content: counter(count);
	@apply pl-2 pr-4 opacity-40;
}

.diff.add {
	@apply bg-green-900/40;
}

.diff.remove {
	@apply bg-red-900/40 !important;
}

.highlighted {
	@apply bg-neutral-50/10;
}

.has-focused .line {
	@apply blur-sm transition duration-200;
}

.has-focused:hover .line {
	@apply blur-none;
}

.has-focused .focused {
	@apply blur-none;
}

.highlighted-word {
	@apply rounded-md border border-neutral-50/40 px-1;
}

::-webkit-scrollbar {
	@apply w-2;
}

::-webkit-scrollbar-track {
	@apply bg-neutral-100 dark:bg-[#050505];
}

::-webkit-scrollbar-thumb {
	@apply rounded-md bg-sky-500;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-sky-600;
}

pre:has(code) {
	position: relative;
}

pre button.copy {
	position: absolute;
	right: 16px;
	top: 16px;
	height: 28px;
	padding: 0;
	display: flex;

	& span {
		width: 100%;
		aspect-ratio: 1 / 1;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		opacity: 0.5;
	}

	& .ready {
		background-image: url("../assets/icons/copy.svg");
		@apply dark:invert size-2/3;
	}
	
	& .success {
		background-image: url("../assets/icons/copy-done.svg");
		@apply hidden dark:invert size-2/3;
	}

	&.copied {
		& .success {
			display: block;
		}

		& .ready {
			display: none;
		}
	}
}
