---
export const prerender = false
import { db, desc, Guestbook as gb } from 'astro:db'

import GuestbookEntries from '../components/GuestbookEntries.astro'
import Layout from '../layouts/Layout.astro'

if (Astro.request.method === 'POST') {
	try {
		const formData = await Astro.request.formData()
		const name = formData.get('name')
		const message = formData.get('message')
		if (typeof name === 'string' && typeof message === 'string') {
			await db.insert(gb).values({ name, message })
		}
	} catch (error) {
		console.error('Error:', error)
	}
}
const guestbookData = await db.select().from(gb).orderBy(desc(gb.published))
---

<Layout title="Guestbook | Aman Varshney">
	<h1>Guestbook</h1>
	<section class="flex min-h-[70svh] flex-col gap-6">
		<form method="POST" class="flex flex-col gap-2 md:flex-row">
			<input type="text" name="name" placeholder="Name" class="rounded-lg px-2 py-1" required />
			<input
				type="text"
				name="message"
				placeholder="Message"
				class="w-full rounded-lg px-2 py-1"
				required
			/>
			<button type="submit" class="rounded-lg px-2 py-1 ring ring-sky-500">Submit</button>
		</form>
		<GuestbookEntries server:defer>
			<div class="min-h-[70svh] w-full animate-pulse rounded-md bg-neutral-400/10" slot="fallback">
			</div>
		</GuestbookEntries>
	</section>
</Layout>
