---
export const prerender = false

import { actions } from 'astro:actions'
import GuestbookEntries from '../components/GuestbookEntries.astro'
import Layout from '../layouts/Layout.astro'

const result = Astro.getActionResult(actions.guestbook)

if (result?.error) {
	console.error(result.error)
}
---

<Layout title="Guestbook | Aman Varshney">
	<div class="space-y-6">
		<h1>Guestbook</h1>

		<form
			method="POST"
			action={actions.guestbook}
			class="grid grid-cols-1 gap-3 md:grid-cols-[1fr_2fr_auto]"
		>
			<input type="text" name="name" placeholder="Name" required />
			<input type="text" name="message" placeholder="Message" required />
			<button type="submit" class="btn">Submit</button>
		</form>

		<GuestbookEntries server:defer>
			<div slot="fallback" class="space-y-3">
				<div class="bg-soft h-4 w-3/4 animate-pulse rounded-sm"></div>
				<div class="bg-soft h-4 w-2/3 animate-pulse rounded-sm"></div>
				<div class="bg-soft h-4 w-4/5 animate-pulse rounded-sm"></div>
				<div class="bg-soft h-4 w-3/5 animate-pulse rounded-sm"></div>
			</div>
		</GuestbookEntries>
	</div>
</Layout>
