---
import Layout from "../layouts/Layout.astro";
import FeaturedPostList from "../components/FeaturedPostList.astro";
import ProjectCardGrid from "../components/ProjectCardGrid.astro";
---

<Layout title="Aman Varshney">
  <!-- <Name client:only /> -->
  <div class="flex flex-col gap-10">
    <div class="flex flex-col gap-4">
      <h1 class="text-2xl">Aman Varshney</h1>
      <p>
        Hello I'm <strong>Aman Varshney</strong>, a 20-year-old <strong
          >B.Tech CSE</strong
        > student with a passion for web and app development. On the path to
        becoming a Software Engineer. Coding, exploring, and creating cool
        stuff!
        <br />
        <br />
         Currently, I'm learning about <strong
          >Data Structures and Algorithms</strong
        >.
      </p>
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex flex-row justify-between">
        <h2 class="text-xl">Projects</h2>
      </div>
      <ProjectCardGrid />
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex flex-row justify-between">
        <h2 class="text-xl">Blog</h2>
      </div>
      <FeaturedPostList />
    </div>
  </div>
</Layout>
