---
import Layout from "../layouts/Layout.astro";
import FeaturedPostList from "../components/FeaturedPostList.astro";
import ProjectCardGrid from "../components/ProjectCardGrid.astro";
---

<Layout title="Aman Varshney">
  <!-- <Name client:only /> -->
  <div class="flex flex-col">
    <div class="flex flex-col">
      <h1>Aman Varshney</h1>
      <p>
        Hello I'm <strong>Aman Varshney</strong>, a <strong>B.Tech CSE</strong> student
        with a passion for web and app development. On the path to becoming a Software
        Engineer. Coding, exploring, and creating cool stuff!
        <br />
        <br />
        Currently, I'm learning about <strong
          >Data Structures and Algorithms</strong
        >.
      </p>
    </div>
    <div class="flex flex-col">
      <div class="flex flex-row justify-between">
        <h2>Projects</h2>
      </div>
      <ProjectCardGrid />
    </div>
    <div class="flex flex-col">
      <div class="flex flex-row justify-between">
        <h2>Blog</h2>
      </div>
      <FeaturedPostList />
    </div>
  </div>
</Layout>
