---
import Layout from "../layouts/Layout.astro";
import ProjectCardGrid from "../components/ProjectCardGrid.astro";
---

<Layout title="Aman Varshney">
  <!-- <Name client:only /> -->
  <div class="flex flex-col">
    <div class="flex flex-col">
      <h1>Aman Varshney</h1>
      <p>
        Hello I'm <strong>Aman Varshney</strong>, a <strong>B.Tech CSE</strong> student
        with a passion for web and app development. On the path to becoming a Software
        Engineer. Coding, exploring, and creating cool stuff!
        <br />
        <br />
        Currently, I'm learning about <strong
          >Data Structures and Algorithms</strong
        >.
      </p>
      <div class="flex flex-row gap-2">
        <a href="https://github.com/AmanVarshney01" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/amanvarshney11/" target="_blank"
          >Linkedin</a
        >
        <a href="https://hashnode.com/@amanvarshney11" target="_blank"
          >Hashnode</a
        >
        <a href="mailto:av.amanvarshney11@gmail.com" target="_blank">Email</a>
        <a href="https://twitter.com/amanvarshney01" target="_blank">x.com</a>
      </div>
    </div>
    <div>
      <h2>Skills</h2>
      <div class="flex flex-row gap-2 flex-wrap prose-img:m-0">
        <img
          src="https://img.shields.io/badge/typescript-%23007ACC.svg?style=for-the-badge&logo=typescript&logoColor=white"
          alt="TypeScript"
        />
        <img
          src="https://img.shields.io/badge/Next-black?style=for-the-badge&logo=next.js"
          alt="Next.js"
        />
        <img
          src="https://img.shields.io/badge/React-black?style=for-the-badge&logo=react"
          alt="React"
        />
        <img
          src="https://img.shields.io/badge/expo-1C1E24?style=for-the-badge&logo=expo"
          alt="Expo"
        />
        <img
          src="https://img.shields.io/badge/react_native-%2320232a.svg?style=for-the-badge&logo=react"
          alt="React Native"
        />
        <img
          src="https://img.shields.io/badge/Astro-%2336276d.svg?style=for-the-badge&logo=astro&logoColor=white"
          alt="Astro"
        />
        <img
          src="https://img.shields.io/badge/tailwindcss-%2338B2AC.svg?style=for-the-badge&logo=tailwind-css&logoColor=white"
          alt="Tailwind CSS"
        />
        <img
          src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge"
          alt="Java"
        />
        <img
          src="https://img.shields.io/badge/c++-%2300599C.svg?style=for-the-badge&logo=c%2B%2B&logoColor=white"
          alt="C++"
        />
      </div>
    </div>
    <div class="flex flex-col">
      <h2>Projects</h2>
      <ProjectCardGrid />
    </div>
  </div>
</Layout>
