---
import { Image } from 'astro:assets'
import email from '../assets/icons/email.svg'
import github from '../assets/icons/github.svg'
import linkedin from '../assets/icons/linkedin.svg'
import x from '../assets/icons/x.svg'
import ProjectCardGrid from '../components/ProjectCardGrid.astro'
import SkillBadge from '../components/SkillBadge.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Aman Varshney">
	<div class="flex flex-col">
		<div class="flex flex-col">
			<h1>Aman Varshney</h1>
			<p>
				Hello I'm <strong>Aman Varshney</strong>, a <strong>B.Tech CSE</strong> student with a passion
				for web and app development. On the path to becoming a Software Engineer.
			</p>
			<div class="flex flex-row gap-4 prose-img:m-2">
				<a href="mailto:av.amanvarshney11@gmail.com" target="_blank">
					<Image
						class={' dark:invert rounded-sm'}
						src={email}
						alt="email"
						width={20}
						height={20}
						loading={'eager'}
						quality={'low'}
					/>
				</a>
				<a href="https://github.com/AmanVarshney01" target="_blank">
					<Image
						class={'dark:invert rounded-sm'}
						src={github}
						alt="github"
						width={20}
						height={20}
						loading={'eager'}
						quality={'low'}
					/>
				</a>
				<a href="https://www.linkedin.com/in/amanvarshney11/" target="_blank">
					<Image
						class={' rounded-sm dark:invert'}
						src={linkedin}
						alt="linkedin"
						width={20}
						height={20}
						loading={'eager'}
						quality={'low'}
					/>
				</a>
				<a href="https://twitter.com/amanvarshney01" target="_blank">
					<Image
						class={' dark:invert rounded-sm'}
						src={x}
						alt="x"
						width={20}
						height={20}
						loading={'eager'}
						quality={'low'}
					/>
				</a>
			</div>
		</div>
		<div>
			<h2>Tech I know</h2>
			<div class="flex flex-row flex-wrap gap-4 prose-img:m-0 prose-img:rounded-sm">
				<SkillBadge skill="TypeScript" />
				<SkillBadge skill="Next.js" />
				<SkillBadge skill="React" />
				<SkillBadge skill="Expo" />
				<SkillBadge skill="React Native" />
				<SkillBadge skill="Astro" />
				<SkillBadge skill="Tailwind CSS" />
				<SkillBadge skill="Java" />
				<SkillBadge skill="C++" />
			</div>
		</div>
		<div class="flex flex-col">
			<h2>Projects</h2>
			<ProjectCardGrid />
		</div>
	</div>
</Layout>
