---
// import Badge from '@/components/Badge.astro'
// import ExperienceGrid from '@/components/experience-grid.astro'
import { Icon } from 'astro-icon/components'
import ProjectCardGrid from '../components/ProjectCardGrid.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Aman Varshney">
	<div class="flex flex-col gap-12">
		<section id="main" class="flex flex-col gap-4">
			<div class="flex flex-col items-center gap-6 md:flex-row">
				<!-- <img src="/images/profile.jpg" alt="Aman Varshney" class="rounded-full w-32 h-32 object-cover" /> -->
				<div>
					<h1>Aman Varshney</h1>
					<p class="mt-2">
						B.Tech CSE student | Web & app developer | Ex-intern @
						<a
							href="https://kofferx.com/"
							target="_blank"
							rel="noopener"
							class="text-primary hover:underline"
						>
							KofferX
						</a>
					</p>
				</div>
			</div>
			<div class="flex flex-row flex-wrap gap-2 md:gap-4">
				<button
					data-cal-link="amanvarshney01/15min"
					data-cal-namespace="15min"
					data-cal-config='{"layout":"month_view"}'
					class="btn btn-primary btn-sm"
				>
					<Icon name="calendar" class="h-4 w-4" />
					Schedule a meeting
				</button>
				<a href="https://github.com/AmanVarshney01" target="_blank" class="btn btn-outline btn-sm">
					<Icon name="github" class="h-4 w-4" />
					Github
				</a>
				<a href="mailto:amanvarshney.work@gmail.com" class="btn btn-outline btn-sm">
					<Icon name="mail" class="h-4 w-4" />
					Mail
				</a>
				<a href="https://x.com/amanvarshney01" target="_blank" class="btn btn-outline btn-sm">
					<Icon name="x" class="h-4 w-4" />
					X.com
				</a>
				<a
					href="https://www.linkedin.com/in/amanvarshney11/"
					target="_blank"
					class="btn btn-outline btn-sm"
				>
					<Icon name="linkedin" class="h-4 w-4" />
					LinkedIn
				</a>
			</div>
		</section>
		<!-- <section id="tech-stack">
			<h2>Tech Stack</h2>
			<div class="flex flex-row flex-wrap gap-2 prose-img:m-0 prose-img:rounded-sm">
				<Badge name="Typescript" icon="typescript" />
				<Badge name="Next.js" icon="next" />
				<Badge name="Expo" icon="expo" />
				<Badge name="React Native" icon="react" />
				<Badge name="Astro" icon="astro" />
				<Badge name="Tailwind" icon="tailwind" />
			</div>
		</section> -->
		<!-- <section id="experience" class="flex flex-col">
			<div class="flex w-full flex-row items-center justify-between">
				<h2>Experience</h2>
			</div>
			<ExperienceGrid />
		</section> -->
		<section id="projects" class="flex flex-col gap-4">
			<div class="flex w-full flex-row items-center justify-between">
				<h2 class="text-2xl font-semibold">Featured Projects</h2>
				<!-- <a href="/projects" class="btn btn-ghost btn-sm">See all projects →</a> -->
			</div>
			<ProjectCardGrid />
		</section>
	</div>
</Layout>

<!-- Cal.com Embed -->
<script is:inline>
	;(function (C, A, L) {
		let p = function (a, ar) {
			a.q.push(ar)
		}
		let d = C.document
		C.Cal =
			C.Cal ||
			function () {
				let cal = C.Cal
				let ar = arguments
				if (!cal.loaded) {
					cal.ns = {}
					cal.q = cal.q || []
					d.head.appendChild(d.createElement('script')).src = A
					cal.loaded = true
				}
				if (ar[0] === L) {
					const api = function () {
						p(api, arguments)
					}
					const namespace = ar[1]
					api.q = api.q || []
					if (typeof namespace === 'string') {
						cal.ns[namespace] = cal.ns[namespace] || api
						p(cal.ns[namespace], ar)
						p(cal, ['initNamespace', namespace])
					} else p(cal, ar)
					return
				}
				p(cal, ar)
			}
	})(window, 'https://app.cal.com/embed/embed.js', 'init')
	Cal('init', '15min', { origin: 'https://cal.com' })

	Cal.ns['15min']('ui', {
		theme: 'auto',
		styles: { branding: { brandColor: '#000000' } },
		hideEventTypeDetails: false,
		layout: 'month_view'
	})
</script>
