---
import Badge from '@/components/Badge.astro'
import ProjectCardGrid from '@/components/ProjectCardGrid.astro'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
---

<Layout title="Aman Varshney">
	<div class="flex flex-col">
		<section class="flex flex-col">
			<!-- TODO Add Photo -->
			<h1>Aman Varshney</h1>
			<!-- <div class="flex flex-row items-center gap-2 py-1">
				<Image
					class={'dark:invert rounded-sm m-0'}
					src={location}
					alt="github"
					loading={'eager'}
					quality={'low'}
				/>
				<span>Uttar Pradesh, India</span>
			</div>
			<div class="flex flex-row items-center gap-2 py-1">
				<Image
					class={'dark:invert rounded-sm m-0'}
					src={work}
					alt="github"
					loading={'eager'}
					quality={'low'}
				/>
				<span>Full-Stack Web Developer</span>
			</div> -->
			<p>
				Hello I'm <strong>Aman Varshney</strong>, a <strong>B.Tech CSE</strong> student with a passion
				for <strong>web and app development</strong>. I am passionate about creating <strong
					>beautiful, feature-rich web applications</strong
				>
				using <strong>best code practices</strong>. I have been deeply interested in web development
				for <strong>over 2 years</strong>.
			</p>
			<div class="flex flex-row flex-wrap gap-2 md:gap-4">
				<a href="mailto:amanvarshney.work@gmail.com" target="_blank" class="btn btn-sm">
					<Icon name="mail" class="h-4 w-4" />
					amanvarshney.work@gmail.com
				</a>
				<a href="https://x.com/amanvarshney01" target="_blank" class="btn btn-sm">
					<Icon name="x" class="h-4 w-4" />
					X.com
				</a>
				<a href="https://github.com/AmanVarshney01" target="_blank" class="btn btn-sm">
					<Icon name="github" class="h-4 w-4" />
					Github
				</a>
				<a href="https://www.linkedin.com/in/amanvarshney11/" target="_blank" class="btn btn-sm">
					<Icon name="linkedin" class="h-4 w-4" />
					LinkedIn
				</a>
			</div>
		</section>
		<section>
			<h2>Tech Stack</h2>
			<div class="flex flex-row flex-wrap gap-4 prose-img:m-0 prose-img:rounded-sm">
				<Badge name="Typescript" icon="typescript" />
				<Badge name="Next.js" icon="next" />
				<Badge name="Expo" icon="expo" />
				<Badge name="React Native" icon="react" />
				<Badge name="Astro" icon="astro" />
				<Badge name="Tailwind" icon="tailwind" />
			</div>
		</section>
		<section class="flex flex-col">
			<div class="flex w-full flex-row items-center justify-between">
				<h2>Featured Projects</h2>
				<a href="/projects" class="btn btn-ghost btn-xs mb-6 mt-12">See all projects</a>
			</div>
			<ProjectCardGrid />
		</section>
	</div>
</Layout>
