---
import { type CollectionEntry } from 'astro:content'
import FormattedDate from './FormattedDate.astro'

type Props = {
	blog: CollectionEntry<'blog'>
}

const { blog } = Astro.props
---

<div class="flex items-center justify-between py-1">
	<a
		class="text-foreground hover:text-accent"
		transition:name="blog-heading"
		href=`/blog/${blog.id}`
	>
		{blog.data.title}
	</a>
	<span class="text-muted ml-4 whitespace-nowrap text-xs">
		<FormattedDate date={blog.data.pubDate} />
	</span>
</div>
