---
import { type CollectionEntry } from 'astro:content'
import FormattedDate from './FormattedDate.astro'

type Props = {
	blog: CollectionEntry<'blog'>
}

const { blog } = Astro.props
---

<article class="stack-md py-1">
	<a
		class="text-foreground hover:text-accent block"
		transition:name="blog-heading"
		href={`/blog/${blog.id}`}
	>
		{blog.data.title}
	</a>
	<span class="text-muted text-xs">
		<FormattedDate date={blog.data.pubDate} />
	</span>
</article>
