---
import { Image } from "astro:assets";

import github from "../../public/icons/github.svg";
import linkedin from "../../public/icons/linkedin.svg";
import x from "../../public/icons/x.svg";
import email from "../../public/icons/email.svg";
---

<footer class="pb-20 w-full flex flex-row justify-between border-t pt-3 mt-8">
  <h4 class="m-0">Aman Varshney</h4>
  <div class="flex flex-row gap-4 items-center prose-img:m-0">
    <a href="mailto:hello@amanvarshney.tech" target="_blank">
      <Image
        class={"bg-neutral-100 rounded-sm border"}
        src={email}
        alt="email"
        width={20}
        height={20}
        quality={"low"}
      />
    </a>
    <a href="https://github.com/AmanVarshney01" target="_blank">
      <Image
        class={" rounded-sm"}
        src={github}
        alt="github"
        width={20}
        height={20}
        quality={"low"}
      />
    </a>
    <a href="https://www.linkedin.com/in/amanvarshney11/" target="_blank">
      <Image
        class={" rounded-sm"}
        src={linkedin}
        alt="linkedin"
        width={20}
        height={20}
        quality={"low"}
      />
    </a>
    <a href="https://twitter.com/amanvarshney01" target="_blank">
      <Image
        class={" rounded-sm"}
        src={x}
        alt="x"
        width={20}
        height={20}
        quality={"low"}
      />
    </a>
  </div>
</footer>
