---
import { db, desc, Guestbook } from 'astro:db'
const guestbookData = await db.select().from(Guestbook).orderBy(desc(Guestbook.published))
---

<div class="flex flex-col gap-2">
	{
		guestbookData.map(({ name, message }: { name: string; message: string }) => {
			return (
				<div>
					<strong>{name}:</strong>
					{message}
				</div>
			)
		})
	}
</div>
