---
import { db, desc, Guestbook } from 'astro:db'
const guestbookData = await db.select().from(Guestbook).orderBy(desc(Guestbook.published))
---

<div class="flex flex-col gap-2">
	{
		guestbookData.map(
			({ name, message, published }: { name: string; message: string; published: Date }) => {
				return (
					<div class="group flex flex-row items-center justify-between">
						<div>
							<strong>{name}:</strong>
							<span>{message}</span>
						</div>
						<span class="hidden group-hover:flex">{new Date(published).toDateString()}</span>
					</div>
				)
			}
		)
	}
</div>
