---
import { db, desc, Guestbook } from 'astro:db'
const guestbookData = await db.select().from(Guestbook).orderBy(desc(Guestbook.published))
---

<div class="mt-6 space-y-3">
	{
		guestbookData.map(
			({ name, message, published }: { name: string; message: string; published: Date }) => {
				return (
					<div class="group flex items-center justify-between py-1">
						<div>
							<span class="font-medium">{name}:</span>
							<span class="text-muted">{message}</span>
						</div>
						<span class="text-muted text-xs opacity-0 transition-opacity group-hover:opacity-100">
							{new Date(published).toLocaleDateString()}
						</span>
					</div>
				)
			}
		)
	}
</div>
