---
import NavButton from './NavButton.astro'

const currentPath = Astro.url.pathname
---

<header class="pt-4">
	<nav class="flex flex-row gap-4 font-mono text-sm tracking-[0.08em]">
		<NavButton href="/" name="home" isActive={currentPath === '/'} />
		<NavButton href="/blog" name="blog" isActive={currentPath.startsWith('/blog')} />
		<NavButton href="/guestbook" name="guestbook" isActive={currentPath.startsWith('/guestbook')} />
	</nav>
</header>
