---
export const prerender = false
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
import { NavBar } from "./NavBar";
---

<header class="mb-8 pt-20">
  <!-- <h1>Header</h1> -->
  <NavBar client:load currentPath={currentPath} />
</header>
