---
type Props = {
	name: string
	href: string
	isActive: boolean
}

const { name, href, isActive } = Astro.props
---

<a href={href} rel="noopener noreferrer" class={isActive ? 'link' : 'link no-underline'}>
	{name}
</a>
