---
import { type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<'posts'>;
};

const { post } = Astro.props;
---

<a class="flex flex-row justify-between" href=`blog/${post.slug}`>
  <p>{post.data.title}</p>
  <p>{post.data.date}</p>
</a>
