---
import { type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<a
  class="flex flex-row justify-between items-center gap-4 md:text-base"
  rel="noopener noreferrer"
  href=`blog/${post.slug}`
>
  {post.data.title}
  <span class="no-underline hidden md:block">{post.data.date.toString()}</span>
</a>
