---
import { type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<'posts'>;
};

const { post } = Astro.props;
---

<a class="flex flex-row justify-between hover:underline decoration-[#91f2da] hover:text-[#91f2da]" href=`blog/${post.slug}`>
  <p>{post.data.title}</p>
  <p>{post.data.date}</p>
</a>
