---
import { type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<div class="flex flex-col md:flex-row justify-between">
  <a class="" rel="noopener noreferrer" href=`blog/${post.slug}`>
    {post.data.title}
  </a>
  <span class="no-underline">{post.data.date.toString()}</span>
</div>
