---
import { type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<a
  class="flex flex-row justify-between sm:text-base text-sm gap-4 dark:hover:text-neutral-100"
  rel="noopener noreferrer"
  href=`blog/${post.slug}`
>
  <h3
    class="underline underline-offset-4 decoration-neutral-400 dark:hover:decoration-neutral-100"
  >
    {post.data.title}
  </h3>
  <p class="min-w-fit">{post.data.date.toString()}</p>
</a>
