---
import amanvarshney from '@/assets/project-images/aman-varshney.webp'
import hackTrack from '@/assets/project-images/hack-track.webp'
import oxabags from '@/assets/project-images/oxabags-ecommerce.webp'
import ProjectCard from '@/components/ProjectCard.astro'
---

<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
	<ProjectCard
		image={hackTrack}
		name="Hack Track"
		subDescription="Project Tracker with team collaboration"
		description="Project Tracker with team collaboration using Next.js, Shadcn/UI, and Supabase."
		githubLink="https://github.com/AmanVarshney01/Hack-Track"
		liveLink="https://hack-track.vercel.app/"
		isNew
		loading={'eager'}
		alias="hackTrack"
		techUsed={[
			{ name: 'Typescript', icon: 'typescript' },
			{ name: 'Next.js', icon: 'next' },
			{ name: 'Supabase', icon: 'supabase' },
			{ name: 'Tailwind', icon: 'tailwind' },
			{ name: 'Shadcn/UI', icon: 'shadcn' },
			{ name: 'Vercel', icon: 'vercel' }
		]}
	/>
	<ProjectCard
		image={oxabags}
		name="Oxabags Ecommerce"
		subDescription="A Zero Cost Ecommerce Site"
		description="An ecommerce site using Next.js, Shadcn/UI, Razorpay, and Sanity.io"
		githubLink="https://github.com/AmanVarshney01/oxabags"
		liveLink="https://www.oxabags.com/"
		isNew
		loading={'eager'}
		alias="oxabags"
		techUsed={[
			{ name: 'Typescript', icon: 'typescript' },
			{ name: 'Next.js', icon: 'next' },
			{ name: 'Razorpay', icon: 'razorpay' },
			{ name: 'Sanity.io', icon: 'sanity' },
			{ name: 'Tailwind', icon: 'tailwind' },
			{ name: 'Shadcn/UI', icon: 'shadcn' },
			{ name: 'Cloudflare', icon: 'cloudflare' }
		]}
	/>
	<ProjectCard
		image={amanvarshney}
		name="Portfolio"
		subDescription="minimal portfolio with blog and guestbook"
		description="My Portfolio using Astro and Tailwind CSS"
		githubLink="https://github.com/AmanVarshney01/aman-varshney"
		liveLink="https://www.amanvarshney.tech/"
		isNew
		loading={'eager'}
		alias="portfolio"
		techUsed={[
			{ name: 'Astro', icon: 'astro' },
			{ name: 'Tailwind', icon: 'tailwind' },
			{ name: 'Vercel', icon: 'vercel' }
		]}
	/>
</div>
