---
import Search from 'astro-pagefind/components/Search'
---

<dialog transition:persist id="search-modal" class="modal">
	<div class="modal-box !max-w-4xl rounded-lg border border-base-300">
		<Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
	</div>
</dialog>
<form method="dialog" class="modal-backdrop">
	<button>Close</button>
</form>
