---
type Props = {
	skill: string
}

const { skill } = Astro.props
---

<span class="rounded-lg px-3 border border-[#4b65a2] py-1 text-sm text-white dark:text-current font-medium uppercase shadow-sm bg-[#203459]">{skill}</span>
