---
import { Icon } from 'astro-icon/components'

type Props = {
	name: string
	icon?: string
}

const { name, icon } = Astro.props
---

<div class="badge gap-2">
	{icon && <Icon name={icon} class="h-4 w-4" />}
	{name}
</div>
